<ion-header [translucent]="true">
  <ion-toolbar color="dark" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Shopping List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-img [src]="image"></ion-img>

<form #formUp="ngForm" (ngSubmit)="onSubmit(formUp)">
  <ion-item class="ion-text-wrap">
    <ion-label position="floating">Produto:</ion-label>
    <ion-input type="text" name="product" [ngModel]="product.product"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Quantidade:</ion-label>
    <ion-input type="text" name="quant" [ngModel]="product.quant"></ion-input>
  </ion-item>

  <ion-button type="submit" color="success" expand="block">Atualizar</ion-button>

</form>
</ion-content>
